[submodule "libraries/littlefs"]
	path = libraries/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "libraries/SH1106"]
	path = libraries/SH1106
	url = https://github.com/Cameron-Reed1/SH1106.git
[submodule "libraries/neopixels"]
	path = libraries/neopixels
	url = https://github.com/martinkooij/pi-pico-adafruit-neopixels
